[core]
    autocrlf = false

    # Git on Windows (checkout windows CRLF, commit unix LF)
    #autocrlf = true

[user]
    name = Paul Kippes
    email = kippesp@gmail.com
	signingkey = B7D97825FE146ED7

[push]
    # git push the current, same-named, branch
    default = simple

[color]
    ui = auto

[core]
    editor = vim

[sendemail]
    suppresscc=all

#[merge]
#    tool=vimdiff
#    conflictstyle=diff3
#    prompt=false
#
#[difftool "sourcetree"]
#	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
#	path =
#[mergetool "sourcetree"]
#	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
#	trustExitCode = true

# Still looking at this
#[color "diff"]
# See https://git-scm.com/docs/git-config#Documentation/git-config.txt-color
# See https://stackoverflow.com/questions/26941144/how-do-you-customize-the-color-of-the-diff-header-in-git-diff
# See https://stackoverflow.com/questions/24455377/git-diff-with-line-numbers-git-log-with-line-numbers/61997003#61997003
#    commit = bold yellow
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
